server:
  port: 8080

spring:
  application:
    name: used-stroller

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100
        jdbc.batch_size: 100
        order_inserts: true
        order_updates: true

  servlet:
    multipart:
      max-file-size: -1
      max-request-size: -1

collector:
  crawler:
    web-driver-id: webdriver.chrome.driver
    # window
    win-web-driver-path: libs\chromedriver-win64\chromedriver.exe
    win-download-path: C:\\chromedriver\\downloads
    # mac(arm)
    mac-arm-web-driver-path: libs/chromedriver-mac-arm64/chromedriver
    mac-download-path: /Users/yd/Downloads
    # linux
    linux-web-driver-path: libs/chromedriver-linux64/chromedriver
    linux-download-path: /home/yd/Downloads